@keyframes pulse{0%{box-shadow:0 0 0 0 rgba(221,231,237,.4)}50%{box-shadow:0 0 0 15px rgba(221,231,237,.4)}100%{box-shadow:0 0 0 0 rgba(221,231,237,.4)}}
@keyframes pulsenight{0%{box-shadow:0 0 0 0 rgba(59,74,90,.4)}50%{box-shadow:0 0 0 15px rgba(59,74,90,.4)}100%{box-shadow:0 0 0 0 rgba(59,74,90,.4)}}
@keyframes rightmove{0%{width:0%;opacity:0;}25%{opacity:0;}50%{width:100%;opacity:1;}100%{width:0%;opacity:0;}}
@keyframes vertmove{0%{transform:translateY(0)}50%{}100%{transform:translateY(-100%);opacity:0;}}
body, html {overflow-x:hidden;}
.hideChange {opacity:0;}
.anim_vert {/*animation:vertmove .5s alternate ease-in-out;*/}
.switch {-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent; }
.animate_check {animation:pulse .5s alternate;}
.animate_check b {animation: rightmove .5s alternate;}
body.night .animate_check {animation-name:pulsenight;}
label.checkboxLineY {position:relative;cursor:pointer;}
label.checkboxLineY b {position:absolute;top: 0;left: 0;width:0%;height:100%;display:block;border-radius: 25px;background:rgba(221,231,237,.2);}
.switch {
	text-align:center;
	color:#108be3;
	margin:20px 0;
	font-size:16px;
	cursor:pointer;
}
.svgPath {transition:all .4s ease-in-out;}
.wrapSvgPath {position:absolute;width:100%;height:100%;left:0;top:0;transform:scaleY(-1);}

body.night, body.night .noneChecked i {background:#242f3e !important;}
body.night .followers {color:#fff;}
body.night .slider_chart {border-color:#40566b;background:rgba(31,42,56);}
body.night .smallBar {border-color:#40566b;}
body.night .checkboxLineY {border-color:#344658;}
body.night .vert span i, body.night .hor span i, body.night .vert::after {color:#546778;}
body.night .vert span {border-color:#293544;}
body.night .sub {border-color:#293544;}
body.night .slider_chart .resizers .resizer {background:#40566b;}
body.night label.checkboxLineY span {color:#fff;}
body.night .slider_chart_wrap {border-color:rgba(31,42,56);background:rgba(36,47,62);}
body.night .hor span::before {background:rgb(59,74,90);}
body.night .hor span .data {background:rgb(37,50,65);color:#fff;}
body.night .no-data {color:#fff;}

body {font-family:sans-serif;font-size:14px;}
* {padding: 0;box-sizing:border-box;margin:0;line-height:1;}
.wrapBigBar {overflow:hidden;margin-bottom: 0px;}
.wrapper {margin:0 auto;width: 1000px;max-width:100%;padding:0 15px;}
.bigBar .sub {width:100%;}
.smallBar, .bigBar {display:flex;position:relative;}
.smallBar .sub, .bigBar .sub {left:0;top:0;position:absolute;width:100%;height:100%;}
.smallBar span, .bigBar span {position:relative;width: 100%;transition:all 1s;}
.smallBar span i.simpleY, .bigBar span i.simpleY {display: block;width: 1px;height: 1px;background:blue;left: 0;position:absolute;transform:translateX(-50%);font-size:9px;transition:all 1s;border-radius:50%;}
.followers {font-weight:700;margin-bottom:20px;margin-top: 20px;color:#222222;font-size:20px;}
.slider_chart_wrap {background:rgba(245,249,251);z-index:3;}
.slider_chart {background:#fff;}
.wrapSmallNDrag {z-index:10;pointer-events:none;}
.y {position:absolute;width:100%;top: 0;left: 0;height:100%;display:flex;transition:opacity .3s, top .5s;}
.poly_y.hide {opacity:0;top:-100%;}
.poly_y {transition:all .5s;}
.vert {position:absolute;width:100%;top: 0;left: 0;height:100%;display:flex;flex-direction:column;}
.vert span {width:100%;height:100%;position:relative;border-bottom:2px solid #F2F4F5;}
.vert span i {position:absolute;left:0;bottom:calc(100% + 5px);}
.hor {position:absolute;width:100%;top: 0;left: 0;height:100%;display:flex;z-index:10;}
.hor span {position:relative;width:100%;}
.hor span i {opacity:0;display:block;top:calc(100% + 5px);left: 0;position:absolute;white-space:nowrap;transition:opacity .5s;}
.hor span i.displayHorLabelDate {opacity:1 !important;}
.hor span::before {content:'';background:rgb(223,230,235);width: 1px;height: calc(100% - 10px);position:absolute;display: block;bottom: 0;left: 0s;z-index:-1;display:none;}
/*.bigBar {pointer-events:none !important;}*/
.no-data {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:20px;z-index:10;}
.bigBar .y span:hover i.simpleY {width:10px;height:10px;background:blue;}
.hor span:hover::before, .hor span:hover .data {display:block;}
.hor span .data {
	position:absolute;
	min-width: 150px;
	top:3px;
	left:0;
	transform:translateX(-50%);
	display:none;
	background:#fff;
	padding:15px 15px 5px 15px;
	border-radius:5px;box-shadow:0 0 3px rgba(0,0,0,0.3);
	z-index:10;
}
.hor span .data .d {font-size:16px;}
.tooltipWrapY {display:flex;margin-top: 10px;font-size:13px;flex-wrap:wrap;}
.tooltipWrapY strong {font-weight: 700;font-size:17px;}
.tooltipWrapY > div {margin-right: 10px;margin-bottom:10px;}
.tooltipWrapY > div > div:first-child {margin-bottom: 5px;}
.y svg {height:100%;width:100%;}
.y svg line {stroke-width:2;}
.smallBar .y svg line {stroke-width:1;}
.vert span i, .hor span i {font-style:normal;color:#96A2AA;}
.slider_chart_wrap {position:relative;}
.slider_chart {height: 100%;width:30%;position:absolute;left:0;resize:both;border:1px solid #DDE7ED;}
.bigBar {overflow-x:scroll;overflow-y:hidden;padding-bottom: 30px;margin-bottom: -30px;touch-action: none;}
.bigBar {height: 250px;} /*250 - 30 запас на скролл, остается 220, - 25 на даты, остается 195*/
.bigBar .sub, .vert, .hor {height: 195px;}
.sub {border-bottom:1px solid #F2F4F5;}
.vert::after {content:'0';position:absolute;bottom: 5px;left: 0;color:#96A2AA;}
.slider_chart .resizers{width: 100%;height: 100%;}
.slider_chart .resizers .resizer{
width: 10px;
height: 100%;
background: #DDE7ED;
position: absolute;
box-sizing:border-box;
opacity:0.7;
}
.slider_chart .resizers .resizer.bottom-left {left: 0px;bottom: 0px;}
.slider_chart .resizers .resizer.bottom-right {right: 0px;bottom: 0px;}	
.wrapSmallBarAbs {position:absolute;width: 100%;height: 100%;left: 0;top: 0;z-index:-1;}
.wrapSmallNDrag {position:relative;}
.smallBar {height:55px;border:1px solid #F2F7F9;}
.slider_chart_wrap {height: 55px;border:1px solid transparent;}
.wrapGrids {
	position:relative;
	margin-bottom: 20px;
}
.checkBoxWrap {
	margin-top: 25px;
	display:flex;
	flex-wrap:wrap;
}
label.checkboxLineY {
	border:2px solid #F2F4F5;
	padding:7px 10px;
	border-radius:25px;
	margin-right:20px;
	font-size:18px;
	display:flex;
	align-items:center;
	margin-bottom: 20px;
}
label.checkboxLineY input {display:none;}
label.checkboxLineY span {
	position:relative;
	padding-left:40px;
	padding-right: 5px;
	height:30px;
	display:flex;
	align-items:center;
}
label.checkboxLineY i {
	left:0;
	top:50%;
	transform:translateY(-50%);
	width:30px;
	height:100%;
	border-radius:50%;
	display:inline-block;
	margin-right:10px;
	position:absolute;
	font-style:normal;
	border:3px solid;
	transition: all .5s;
}
.noneChecked i {background:#fff !important;}
.noneChecked svg {transform:scale(0);}
label.checkboxLineY svg {transform-origin:center;transition: all .5s;}
label.checkboxLineY path {
	stroke-linejoin:round;
	stroke-linecap:round;
	stroke:#fff;
	stroke-width:9;
	fill:none;
}
label.checkboxLineY svg {border-radius:50%;}